.env
.fintelle-gsheet.json
__pycache__
analyze_data.log
advicegenie.log
node_modules/
arch\

app/ratescan/frontend/dist
app/ratescan/.aws-sam
app/ratescan/data-pipeline/.aws-sam
app/ratescan/iac/.aws-sam