<!DOCTYPE html>
<html lang="en">
	{% include 'header.html' %}       
    <!--Main Content Area-->
    <main id="content">
        <aside id="Questions" class="scrollto text-center" data-enllax-ratio=".2">
            <div class="section-heading">
                <h1 class="section-title"></h1>
                <h1 class="section-title">Hi {{ validation['name'] }},</h1>
		<h2> You are in {{ validation['year'] | safe}} study {{ validation['subject'] | safe}} {{ validation['specialist_area'] | safe }} with {{validation['difficulty'] | safe }} </h2><br>
		<a href="/generateQ" class="button">Generate a question</a>

           </div>
        </aside>
        </main>
</body>
</html>
