<!DOCTYPE html>
<html lang="en">
	{% include 'header.html' %}

<!--Main Content Area-->
    <main id="content">
      <aside>
        
        <div class="row clearfix">
            <div class="container">  <h1 class="text-center">Hi {{form_name}},</h1>
            <h2 class="text-center">{{question | safe}}</h2>
              <aside>
                <div class="stopwatch">
                    <span id="display">00:00.00</span>
                      <div class="buttons">
                          <button id="start">Start</button>
                        <button id="stop" disabled>Stop</button>
                          <button id="reset">Reset</button>
                      </div>
                  </div>
                <script src="static/js/script.js"></script>
                </aside>
                <form action="/next" method="POST">  <div class="form-group">
                <textarea class="form-control" name="answer" rows="5" placeholder="Enter your answer here..."></textarea>
                <button type="submit" class="btn btn-primary d-block mx-auto">Review</button>
                </form>
            </div>
        </div>
</aside>
  
  
  
    </main>
</body>
</html>
