<!DOCTYPE html>
<html lang="en">
 {% include 'header.html' %}       
    <!--Main Content Area-->
    <main id="content">
        <aside id="Questions" class="scrollto text-center" data-enllax-ratio=".2">
            <div class="section-heading">
                <h1 class="section-title"></h1>
                <h1 class="section-title">Hi,</h1><br>
                <h2>Enter your details for specific area to be tutored</h2><br>
                    <form method="POST" action="/dashboard">
                      <div class="col-1">
                        <label for="name">Your Name</label>
                        <input class="input" type="text" id="name" name="name"> <br>
                      </div>
                        <label for="year">Study Year</label>
                          <select name="year">
                            <option value="Year 6" {% if form_year == 'Year 6' %} selected {% endif %}>Year 6</option>
                            <option value="Year 7" {% if form_year == 'Year 7' %} selected {% endif %}>Year 7</option>
                            <option value="Year 8" {% if form_year == 'Year 8' %} selected {% endif %}>Year 8</option>
                            <option value="Year 9" {% if form_year == 'Year 9' %} selected {% endif %}>Year 9</option>
                            <option value="Year 10" {% if form_year == 'Year 10' %} selected {% endif %}>Year 10</option>
                        </select>
                        <label for="subject">Subject</label>
                        <select name="subject">
                            <option value="Maths" {% if form_subject == 'Maths' %} selected {% endif %}>Maths</option>
                            <option value="Commerce" {% if form_subject == 'Commerce' %} selected {% endif %}>Commerce</option>
                            <option value="English" {% if form_subject == 'English' %} selected {% endif %}>English</option>
                            <option value="Science" {% if form_subject == 'Science' %} selected {% endif %}>Science</option>
                            <option value="History" {% if form_subject == 'History' %} selected {% endif %}>History</option>
                            <option value="Geography" {% if form_subject == 'Geography' %} selected {% endif %}>Geography</option>
                        </select>
                        <label for="term">Content</label>
                        <select name="term">
                            <option value="Term I" {% if form_term == 'Term I' %} selected {% endif %}>Term I</option>
                            <option value="Term II" {% if form_term == 'Term II' %} selected {% endif %}>Term II</option>
                            <option value="Term III" {% if form_term == 'Term III' %} selected {% endif %}>Term III</option>
                            <option value="Term IV" {% if form_term == 'Term IV' %} selected {% endif %}>Term IV</option>
    
                        </select>
                        <label for="level">Difficulty</label>
                        <select name="difficulty">
                            <option value="Level 1" {% if form_level == 'Level 1' %} selected {% endif %}>Level 1</option>
                            <option value="Level 2" {% if form_level == 'Level 2' %} selected {% endif %}>Level 2</option>
                            <option value="Level 3" {% if form_level == 'Level 3' %} selected {% endif %}>Level 3</option>
                            <option value="Level 4" {% if form_level == 'Level 4' %} selected {% endif %}>Level 4</option>
                            <option value="Level 5" {% if form_level == 'Level 5' %} selected {% endif %}>Level 5</option>
                        </select><br>
                        <div class="col-1">
                          <label for="subarea">Specialist Area</label>
                          <input class="input" type="text" id="subarea" name="specialist_area"></input><br>
                          <button type="submit" class="button">Update</button>
                        </div>                         
                </form>
              </div>
        </aside>
        </main>
</body>
</html>
