<!DOCTYPE html>
<html lang="en">
	{%include 'header.html' %}
<body>
  <main id="content">
    <div class="row clearfix">
      <div class="container">
        <h1 class="text-center">{{ name }}</h1>
	<h2 class="text-center">Question:<br><br>{{ question | safe }}</h2>
        <aside>
          <div class="stopwatch">
            <span id="display">00:00.00</span>
            <div class="buttons">
              <button id="start">Start</button>
              <button id="stop" disabled>Stop</button>
              <button id="reset">Reset</button>
            </div>
          </div>
          <script src="static/js/script.js"></script>
        </aside>
        <form action="/validateQ" method="POST">
          <div class="form-group">
            <textarea name ="user_input" class="form-control" rows="5" placeholder="Enter your answer here..."></textarea>
            <button type="submit" class="btn btn-primary d-block mx-auto">Review</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
