<!DOCTYPE html>
<html lang="en">
	{% include 'header.html' %}
    <!--Main Content Area-->
    <body>
    <main id="content">
        <aside id="Questions" class="scrollto text-center" data-enllax-ratio=".2">
            <div class="section-heading">
		    <h1 class="section-title"></h1><br>
                <h1 class="section-title">Emily's Analysis,</h1>
                <h2>{{ message | safe }}</h2><br>
		<a href="/ticker_tracker" class="button">Try for another ticker</a>
           </div>
        </aside>
        </main>
</body>
</html>
