<!DOCTYPE html>
<html lang="en">
	{% include 'header.html' %}       
    <!--Main Content Area-->
    <main id="content">
        <aside id="Questions" class="scrollto text-center" data-enllax-ratio=".2">
            <div class="section-heading">
                <h1 class="section-title"></h1>
                <h1 class="section-title">Welcome to Share Analyser powered by Emily</h1>
                <h2></h2><br>
                    <form method="POST" action="/ticker_analysis">
                        <label for="ticker">Ticker:</label>
                        <input class="input" type="text" id="ticker" name="ticker" value = "{{ ticker }}"> <br>
                        <button type="submit" class="button">Analyse</button>
                </form>
              </div>
        </aside>
        </main>
</body>
</html>
